.registration-container {
    color: var(--search-input-color-secondary);
    background-color: var(--login-card-color);
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: fit-content;
    padding: 50px;
    border-radius: 8px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.registration-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.registration-button {
    color: var(--text-primary);
    background-color: var(--chat-text-user-color);
    border: none;
    padding: 10px 30px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 8px;
    max-width: 200px;
    align-self: flex-end;
}

.registration-input {
    caret-color: var(--chat-text-user-color);
    box-sizing: border-box;
    height: 35px;
    max-width: 60%;
    color: var(--chat-text-user-color);
    background-color: var(--background-color-on-hover);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 32px 0 15px;
    flex: 1;
    outline: none;
    border: none;
}

.register-link {
    color: var(--chat-text-user-color);
    font-size: 0.9rem;
}
