:root {
    --background-color: #222e35;
    --background-color-secondary: #111b21;
    --header-padding: 10px 16px;
    --primary: #d1d7db;
    --search-input-color: #202c33;
}

* {
    color: #ddd;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
